<div class="row">

  <div class="col-md-2">
    <select [(ngModel)]="branddFilter" 
    class="form-select"
    aria-label="Choose Brand">
    <option value="0">Brand</option>
    <option [value]="brand.brandId" *ngFor="let brand of brands">{{brand.brandName}}</option>
    </select>
  </div>

  <div class="col-md-2">
    <select [(ngModel)]="colorrFilter" 
    class="form-select" 
    aria-label="Default select example">
    <option value="0">Color</option>
    <option [value]="color.colorId" *ngFor="let color of colors">{{color.colorName}}</option>
    </select>
  </div>

  <div class="col-md-2">
    <button routerLink="/cars/color/{{colorrFilter}}/brand/{{branddFilter}}"
    style="width: 100%;"
    class=" btn btn-outline-dark" 
    type="button"> Filter
    </button>
  </div>

  <div class="col-md-2">
    <input type="text" 
    [(ngModel)]="filterText" 
    class="form-control"
    id="filterText"
    placeholder="Search...">
  </div>

  <div *ngIf="filterText.length>2" 
    class="alert alert-success"
     role="alert">
    {{filterText}} searched
  </div>

</div>

<div class="row mt-4" style="margin-left: 1%;">

  <div *ngFor="let car of cars |filterPipe:filterText"  
  class="card mt-2 mr-2"
  style="width: 18rem;margin-right: 10px;">

    <img *ngIf="car.imagePath"
     [src]="imageUrl+car.imagePath" 
     class="card-img-top" 
     style="object-fit: cover;" 
     width="100" 
     height="50%" 
     alt="...">
  
    <img *ngIf="!car.imagePath"
     [src]="imageUrl +'DefaultImage.jpg'" 
     class="card-img-top" 
     style="object-fit: cover;"
     width="100" 
     height="50%" 
     alt="...">

    <div class="card-body">
      <h5 class="card-title">{{ car.modelName }}</h5>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Color Name: {{ car.colorName }} </li>
      <li class="list-group-item">Brand Name: {{ car.brandName }}</li>
      <li class="list-group-item">Model Name: {{ car.modelName }}</li>
      <li class="list-group-item">Model Year: {{ car.modelYear }}</li>
      <li class="list-group-item">Daily Price: {{ car.dailyPrice }}</li>
      <li class="list-group-item">Description: {{ car.description}}</li>
    </ul>

<div class="row mt-1" 
style="margin-left: 1%;">

  <div *ngFor="let carDetails of cars |filterPipe:filterText" 
  class="card mt-2 mr-2" 
  style="width: 18rem;margin-right: 10px;">

    <img *ngIf="carDetails.imagePath" 
    [src]=""
    class="card-img-top"
    style="object-fit: cover; margin-top: 10px;"
     width="100" 
     height="50%" 
     alt="...">

    <img *ngIf="carDetails.imagePath" [src]="imageUrl + 'DefaultImage.jpg'" class="card-img-top"
      style="object-fit: cover; margin-top: 10px;" width="100" height="50%" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ carDetails.modelName }}</h5>
    </div>
    
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Model Year: {{ carDetails.modelYear }}</li>
      <li class="list-group-item">Color Name: {{ carDetails.colorName }} </li>
      <li class="list-group-item">Brand Name: {{ carDetails.brandName }}</li>
      <li class="list-group-item">Model Name: {{ carDetails.modelName }}</li>
      <li class="list-group-item">Daily Price: {{ carDetails.dailyPrice }}</li>
      <li class="list-group-item">Description: {{ carDetails.description}}</li>
    </ul>

    <div class="card-body">
      <div class="row">
        <button type="button" 
        class="btn btn-outline-dark" 
        routerLink="/cars/getdetails/{{carDetails.carId}}">Details
        </button>
      </div>
    </div>

  </div>
</div>